body{
  padding: 80px;
}

.navbar{
  background: #d02090;
}

.nav-wrapper{
  display: inline;
}

.twitty{
  display: inline-block;
  color: #000;
  text-align: center;
}

.bird{
  width: 30px;
  color: #000;
}

.contador{
  float: right;
}

#timeline{
  margin-top: 25px;
}

.jumbotron > p{
  text-align: right;
}
